<div class="cardWrap">
  <h1>credit card info</h1>
  <form class="newForm" name="newForm">

      <md-input-container class="md-block">
        <label>Credit Card Number</label>
        <input type="number" pattern="[0-9]{16}" ng-model="cc.number" required>
        <div ng-messages="cc.number.$error">
          <div ng-message="required">Credit Card number is not valid</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Billing Zip</label>
        <input type="number" pattern="[0-9]{5}" ng-model="cc.zip" required>
        <div ng-messages="cc.zip.$error">
          <div ng-message="required">Zip code is not valid</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Exp. Month (##)</label>
        <input type="number" pattern="[0-9]{2}" ng-model="cc.mo" required>
        <div ng-messages="cc.zip.$error">
          <div ng-message="required">Month is not valid</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Exp. Year (##)</label>
        <input type="number" pattern="[0-9]{2}" ng-model="cc.yr" required>
        <div ng-messages="cc.zip.$error">
          <div ng-message="required">Year code is not valid</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>CVV</label>
        <input type="number" pattern="[0-9]{3}" ng-model="cc.cvv" required>
        <div ng-messages="cc.cvv.$error">
          <div ng-message="required">CVV is not valid</div>
        </div>
      </md-input-container>

    <div class="center">
      <md-button class="" ng-click="ctrl.back()">&lt; Back</md-button>
      <md-button class="" type="submit" ng-click="ctrl.subCC(cc)">Next &gt;</md-button><!-- type="submit" -->
    </div>
  </form>
</div>
