<div class="casheWrap">
  <h1>cache choice</h1>
  <form class="newFormCache" name="newForm">

    <md-input-container class="md-block">
      <!-- <label>Cache Choice:</label> -->
      <md-radio-group ng-model="cache" required>
        <md-radio-button class="radio" value="OG"> The OG </md-radio-button>
        <md-radio-button class="radio" value="OG+1"> The OG +1 </md-radio-button>
        <md-radio-button class="radio" value="Custom"> Custom ( We'll contact you to design your own! )</md-radio-button>
      </md-radio-group>
      <div ng-messages="cache.$error">
        <div ng-message="required">Cache choice is required</div>
      </div>
    </md-input-container>

    <div class="center">
      <md-button class="" ng-click="ctrl.back()">&lt; Back</md-button>
      <md-button class="" type="submit" ng-click="ctrl.subCashe(cache)">Next &gt;</md-button><!-- type="submit" -->
    </div>
  </form>
</div>
